<div class="item active">
  <img src="assets/img/g.jpg" alt="New York" width="1200" height="600">
  <div class="carousel-caption">
    <br><div class="inner cover">
    <div class="jumbotron">
    <h1 class="cover-heading">Welcome to Grocery Store</h1>
    <p class="lead">find your nearest store.</p>
    </div>
  </div>
    <div class="input-group">
      <input type="text" class="form-control" size="50" placeholder="Location" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Go</button><br><br>
      </div>
    </div>  <br><br>
    <div class="input-group">
      <input type="search" class="form-control" size="22" placeholder="Search" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-warning">Search</button>
      </div>
    </div>
  </div>
</div>
